html {
	-webkit-tap-highlight-color: transparent !important;
	font-size: 16px;

	@include min-tablet {
		font-size: 1.3vw;
	}
	@include min-laptop {
		font-size: 0.833vw;
	}
}

body {
	padding-top: 129px;
	font-family: $font-family;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: $color-gray;
	@include max-tablet {
		padding-top: 75px;
	}
}

.icon {
	fill: currentColor;
}

.container,
[class*="__container"] {
	width: 100%;
	max-width: 1920px + 120px + 120px;
	margin-inline: auto;
	padding-inline: 120px;
	@include max-desktop-lg {
		padding-inline: 15px;
	}
}