:root {
  --font-family: "Dupla", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;

  --color-gray: #676767;
  --color-light-gray: #B8B8B8;
  --color-dark-gray: #696969;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #F4C22F;
  --color-green: #63B569;
}