

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 148px;
  width: 100%;
  z-index: 99;
  background-color: $color-white;
  transition: .3s;
  @include max-laptop {
    min-height: auto;
  }
  &.out {
    transform: translateY(-101%);
  }
  &__container {}
  &__wrapper {
    display: flex;
    grid-gap: 60px;
    @include max-desktop-lg {
      grid-gap: 15px;
    }
    @include max-laptop {
      align-items: center;
    }
  }
  &__logo {
    position: relative;
    z-index: 100;
    flex-shrink: 0;
  }
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-gap: 10px;
    @include max-laptop {
      grid-gap: 25px;
      align-items: center;
      flex-direction: row;
    }
    .header-mobile & {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  &__top {
    display: flex;
    justify-content: flex-end;
    isolation: isolate;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 35px;
      background-color: $color-v-light-gray;
      @include max-laptop {
        display: none;
      }
    }
    .header-mobile & {
      width: 100%;
      flex-direction: column;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    padding: 32px 0;
    @include max-desktop {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
    }
    .header-mobile & {
      flex-direction: column-reverse;
      padding: 0;
      width: 100%;
      grid-gap: 25px;
    }
  }
  &__catalog {}
  &__right {
    display: flex;
    align-items: center;
    grid-gap: 25px;
    margin-left: auto;
    @include max-laptop {
      position: relative;
      z-index: 100;
    }
    .header-mobile & {
      width: 100%;
    }
  }
  &__search {
    display: inline-flex;
    @include max-small-portrai {
      display: none;
    }
    .header-mobile & {
      display: none;
      @include max-small-portrai {
        display: flex;
        width: 100%;
      }
    }
  }
  &__basket {
    display: inline-flex;
    .header-mobile & {
      display: none;
    }
  }
  &__user {
    display: inline-flex;
    .header-mobile & {
      display: none;
    }
  }
}

.header-logo {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  --af-bef: 38px;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 35px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    pointer-events: none;
    @include max-laptop {
      display: none;
    }
  }
  &:before {
    left: calc(var(--af-bef) * -1);
    border-top-right-radius: 100px;
    box-shadow: 4px -14px 0 2px $color-v-light-gray;
  }
  &:after {
    right: calc(var(--af-bef) * -1);
    border-top-left-radius: 100px;
    box-shadow: -4px -14px 0 2px $color-v-light-gray;
  }
  &__wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9px 9px 9px;
    isolation: isolate;
    @include max-laptop {
      padding: 0 5px 5px 5px;
    }
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0 0 100px 100px;
      background-color: $color-v-light-gray;
    }
  }
  &__logo {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: $color-white;
    padding: 20px 9px 9px 9px;
    border-radius: 0 0 100px 100px;
    @include max-laptop {
      padding: 5px;
    }
    img {
      width: 100%;
      max-width: 94px;
      transition: .3s;
      @include max-laptop {
        max-width: 70px;
      }
    }
  }
  &__flag {
    position: absolute;
    bottom: -21px;
    z-index: -1;
    display: inline-flex;
    pointer-events: none;
    @include max-laptop {
      bottom: -15px;
    }
  }
  @include hover {
    .header-logo {
      &__logo {
        img {
          filter: drop-shadow(2px 4px 6px black);
        }
      }
    }
  }
}

.menu-main {
  @include max-laptop {
    display: none;
  }
  ul {
    position: relative;
    overflow: hidden;
    display: flex;
    grid-gap: 1px;
    list-style: none;
    background-color: $color-white;
    border-radius: 0 0 10px 10px;
    .header-mobile & {
      border-radius: 10px
    }
    li {
      display: inline-flex;
      flex: 1;
      min-width: 164px;
      a {
        display: flex;
        width: 100%;
        padding: 5px 15px;
        justify-content: center;
        align-items: center;
        height: 35px;
        color: $color-white;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        background-color: $color-light-gray;
        &.active {
          background-color: $color-yellow;
        }
        @include hover {
          background-color: $color-yellow;
        }
      }
    }
  }

  .header-mobile & {
    display: flex;
    ul {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.menu-catalog {
  @include max-laptop {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    grid-gap: 43px;
    list-style: none;
    @include max-desktop-lg {
      grid-gap: 20px;
    }
    li {
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        color: $color-gray;
        white-space: nowrap;
        @include hover {
          color: $color-black;
          text-decoration: underline;
          text-decoration-thickness: 1px;
        }
      }
    }
  }

  .header-mobile & {
    display: flex;
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  z-index: 98;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  width: 100%;
  max-width: 500px;
  background-color: $color-white;
  transition: .5s ease-in-out;
  right: -100%;
  &:before {
    content: '';
    display: block;
    min-height: 100px;
    width: 100%;
    background-color: $color-white;
  }
  .menu-open & {
    right: 0;
  }
}